.elevatorsContainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  color: white;
  position: relative;
  top: 80px;
  -webkit-box-shadow: 0px 0px 5px 7px rgba(184, 182, 184, 1);
  -moz-box-shadow: 0px 0px 5px 7px rgba(184, 182, 184, 1);
  box-shadow: 0px 0px 5px 7px rgba(184, 182, 184, 1);
}

.container h2 {
  position: relative;
  top: 30px;
}

.elevatorA {
  order: 1;
}

.elevatorB {
  order: 3;
}
.elevatorA,
.elevatorB {
  align-self: center;
  background-color: black;
  width: 18%;
  margin: 50px;
  border: 1px solid white;
  padding: 10px;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.elevatorsContainer h3 {
  position: absolute;
  top: -3px;
  color: black;
}
.floorsContainer h3 {
  color: white;
}
.elevatorBtns {
  width: 50%;
  left: 20%;
  position: relative;
}
.elevatorA button,
.elevatorB button {
  margin: 10px;
  padding: 0.4em;
  background-color: black;
  border: white;
  color: white;
}

.floorsContainer {
  order: 2;
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 25%;
  background: radial-gradient(
    ellipse at center,
    rgba(125, 126, 125, 1) 0%,
    rgba(14, 14, 14, 1) 100%
  );
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.arrowsContainer {
  position: relative;
  align-self: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.showDown {
  width: 20px;
}
.active {
  -webkit-box-shadow: -1px 0px 8px 2px rgba(245, 188, 0, 1);
  -moz-box-shadow: -1px 0px 8px 2px rgba(245, 188, 0, 1);
  box-shadow: -1px 0px 8px 2px rgba(245, 188, 0, 1);
}

.activeFloorDisplay {
  color: rgba(245, 188, 0, 1);
}
